


.navBar{
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items:flex-end;
    margin: 100px auto 0;
    
}
.title{
    font-size: 230%;
    color: black;
}
.home{
    color:blue;
}

ul{

    list-style: none;
    padding-left: 0;


}

li{
    margin:10px 0;
    
}
.liDiv{
    display: flex;
    flex:1 1 auto;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}

.itemBtn{
    margin-left: 5px;
}
.body{
    font-family: 'Merriweather',serif ;
    background-color: rgba(241, 227, 255, .45);
    border-radius: 5%;
    
    width:600px;
    margin: 0 auto 0;
    padding: 20px 100px 40px;

}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Merriweather',serif ;

}
h5{
    margin:10px 0 20px;
    border-bottom: solid black ;
}

form{
    margin-top:35px;
}